{% extends "GnkwGnkwBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'gnkw.page.index.title' | trans }}{% endblock %}

{% block body %}
<div class="container">
{{ html|raw }}
</div>
{% endblock %}
